# PORT=5000
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
# JWT_SECRET=your_jwt_secret_here
# JWT_REFRESH_SECRET=your_refresh_secret_here
# NODE_ENV=development
# CLIENT_URL=http://localhost:5173
# ADMIN_EMAIL=admin@example.com
# ADMIN_PASSWORD=Admin@123456
# ADMIN_NAME=Super Admin

PORT=5000
MONGO_URI=mongodb+srv://pradhanshreejal0_db_user:7HGih0eMP2nxBEfk@cluster0.qeyvhfk.mongodb.net/?appName=Cluster0
JWT_SECRET=super_secret_jwt_key_change_me_in_production_12345
JWT_REFRESH_SECRET=super_secret_refresh_key_change_me_in_production_67890
NODE_ENV=development
CLIENT_URL="https://finalecommercewebsite.vercel.app"

CLOUDINARY_CLOUD_NAME=xdnzocxe
CLOUDINARY_API_KEY=517861729687684
CLOUDINARY_API_SECRET=Tqy_EsQo0UCp0OxsCXsN4VGQlDo
